<footer>
    <div class="pai-footer">
<div class="cabide-das-noivas-left">
  <h2 class="logo-footer">Cabide das noivas</h2>
<div class="redes-sociais">
  <img src="./images/facebook.png" alt="facebook">
  <img src="./images/youtube.png" alt="youtube">
  <img src="./images/instagram.png" alt="instagram">
</div>

</div>
<div class="texto-footer-centro">
  <div class="texto1">
  <span>QUEM SOMOS</span>
  <span>ENTRE EM CONTATO</span>
</div>
<div class="texto2">
  <span>PEDIDOS PARA LOJAS</span>
  <span class="ouvidoria">OUVIDORIA</span>
</div>
</div>
<div class="app">
  <h2 class="texto-app">BAIXE NOSSO APP</h2>
  <img  class= "apple-img"src="./images/appstore.png" alt="apple store">
  <img class= "google-img" src="./images/googleplay.png" alt="google play">
</div>
</div>
<span class="copyright">
  Copyright ©️ Cabide das Noivas. Todos os direitos reservados.
</span>
  </footer>