<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
<link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />





<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
        <div class="container" id="container-footer">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="widget no-box">
                        <h5 class="widget-title">Contact Us<span></span></h5>
                        <a href="/contato" class="contato-footer">Entre em contato</a>
                        <div class="emailfield">


                            </form>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">Cabide das Noivas<span></span></h5>
                        <p>Tradição desde 1979 na Rua das Noivas em São Paulo, o Ateliê Cabide das Noivas transforma sonhos em realidade!

                        </p>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="widget no-box">
                        <h5 class="widget-title">Acesso rapido<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"><a href="/pedidos">&nbsp;Pedidos</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="/sobre">&nbsp;Sobre</a></div>
                            </li>
                            <li>
                        </ul>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="widget no-box">
                        <h5 class="widget-title">Redes Sociais<span></span></h5>
                        <a href="#"> <i class="fa fa-facebook"> </i> </a>
                        <a href="#"> <i class="fa fa-twitter"> </i> </a>
                        <a href="#"> <i class="fa fa-youtube"> </i> </a>
                    </div>
                </div>
                <br>
                <br>



            </div>
        </div>

        <div class="footer-copyright">
            <div class="container" id="container-footer">
                <div class="row">
                    <div class="col" id="copyright">
                        <p>Copyright Cabide das Noivas © 1979. Todos os direitos reservados.</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  <script>function on() {
    document.getElementById("overlay").style.display = "block";
  }
  
  function off() {
    document.getElementById("overlay").style.display = "none";
  }</script>
<script>$(document).ready(function () {

    $('.first-button').on('click', function () {
  
      $('.animated-icon1').toggleClass('open');
    });
    $('.second-button').on('click', function () {
  
      $('.animated-icon2').toggleClass('open');
    });
    $('.third-button').on('click', function () {
  
      $('.animated-icon3').toggleClass('open');
    });
  });</script>
</footer>