


<form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Nome">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Sobrenome">
      </div>
    </div>
  </form>