<header>
    <div class="logo-input">
        <h2 class="logo">Cabide das noivas</h2>
        <form action="" class="container-pesquisa">
            <div class="input-grupo">
                <input type="text" class="input-buscar" placeholder="Busque aqui seu produto">
                <span class="input-grupo-span">
            <a class="lupa" href=""><img src="./images/lupa.png" alt="lupa"></a>
          </span>
                </input>
            </div>
        </form>
        <nav>
            <div class="lista-nav">
                <a href="/colecoes" class="link">COLEÇÕES</a>
                <a href="/modelos" class="link">MODELOS</a>
                <a href="/sobre" class="link">SOBRE</a>
                <a  alt="carrinho de compras" class="carrinho" href="/modelos"><img src="/images/carrinho.png" alt=""></a>
            </div>
            <div class="login">
                <img src="/images/avatar.png" alt="avatar" class="avatar">
                <div class="navegador-header">
                    <a class="login-texto" href="/login">
                        <span>Olá, faça seu login </span> </br>
                        <span style="margin-left:8%">  ou cadastre-se </span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>