<!DOCTYPE html>
<html>
<%- include('partials/head') %>

    <body>


        <%- include('partials/header') %>

            <section class="section-modelos">



                <div class="container">
                    <div class="row">

                        <div class="col">
                            <p class="texto-colecoes">Aqui você encontra um pouco do nosso dia a dia e de nossas coleções
                                publicadas em nossas redes sociais.
                               
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p class="texto-colecoes">Todos os vestidos postados são criados e confeccionados por nossa
                                equipe.

                            </p>


                        </div>
                    </div>
                    <div class="row">

                        <div class="col">
                            <h2 class="logo-main"> Coleções</h2>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                        <div class="limite">
                            <img src="/images/vestido-1.jpg" alt="css" class="img">
                            <div class="overlay">
                                <img src="/images/logo-erva-doce.png" alt="">
                            </div>
                        </div>
                    </div>
                        <div class="col-md-6">
                        <div class="limite">
                            <img src="/images/vestido-costas-1.jpg" alt="css" class="img">
                            <div class="overlay">
                                <img src="/images/logo-erva-doce.png" alt="">
                            </div>
                        </div>
                    </div>

                    </div>



            </section class="section-modelos">

            <%- include('partials/footer') %>


    </body>

</html>