<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>

        <%- include('partials/header') %>



            <section>

                <div class="container-section">

                    <div class="textoSection">


                        <p style="color: #565656;">Dúvidas, críticas e/ou sugestões entre em contato com nossa equipe pelo formulário abaixo:</p>
                    </div>


                    <form id="formExemplo" data-toggle="validator" role="form">

                        <div class="row">
                            <div class="col">

                                <input id="textNome" class="form-control" placeholder="Nome" type="text">
                            </div>

                            <div class="col">

                                <input id="inputEmail" class="form-control" placeholder="E-mail" type="email">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">

                                <input type="telefone" class="form-control" id="" placeholder="Telefone - (11) 1111 - 11111">
                            </div>

                            <div class="col">

                                <input type="text" class="form-control" id="inputConfirm" placeholder="Assunto">
                            </div>

                        </div>

                        <div class="form-group">

                            <input type="text" class="form-control" id="inputMensagem" placeholder="Mensagem">
                        </div>

                        <button type="submit" class="btnEnviar">enviar</button>
                    </form>
                </div>
            </section>
            <section class="sectionMapa">
                <div class="row">
                    <div class="col">
                        <div class="mapa">
                            <div class="col-md-6 mb-4" style=" max-width:90%; max-height:90%; margin-left: 100px;" ;>

                                <!--Card-->
                                <div class="card card-cascade narrower ">

                                    <!--Card image-->
                                    <div class="view view-cascade gradient-card-header blue-gradient ">
                                        <h5 class="mb-0 ">Regular map</h5>
                                    </div>
                                    <!--/Card image-->

                                    <!--Card content-->
                                    <div class="card-body card-body-cascade text-center ">

                                        <!--Google map-->
                                        <div id="map-container-google-8 " class="z-depth-1-half map-container-5 " style="height: 300px ">
                                            <iframe src="https://maps.google.com/maps?q=Barcelona&t=&z=13&ie=UTF8&iwloc=&output=embed " frameborder="0 " style="border:0 " allowfullscreen></iframe>
                                        </div>

                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->

                            </div>

                        </div>

                    </div>


                    <!--Grid column-->
                    <div class="col ">
                        <ul>
                            <h2>ATENDIMENTO</h2>
                            <li> <img src="/images/phone-icon.png " alt="phone "> (11) 3227-2243</li>
                            <li><img src="/images/map-icon.png " alt="map marker "> Rua São Caetano, 349 - Luz - São Paulo - SP</li>
                            <li><img src="/images/email-icon.png " alt="email "> contato@cabidedenoivas.com.br</li>
                        </ul>



                    </div>


            </section>
            <%- include('partials/footer') %>

                </div>

    </body>