<%- include('./header_footer/head') %>
<%- include('./header_footer/header') %>
<body>
    <main>
       Seja bem-vind@, Daiane!
    </main>
    <%- include('./header_footer/footer') %>
</body>

</html>