<!DOCTYPE html>
<html>

  <%- include('partials/head') %>

<body>
 
  <%- include('partials/header') %>


  <div><%- include('partials/carrossel') %></div>
    

  <section>
    <article class="cartoes">
      <div class="conteudo-card" >
      
        <span class="colecao">COLEÇÃO</span>
        <h2 class="titulo-card">Noiva Clássica</h2>
        <span class="card-texto">Confira as últimas novidades que
          preparamos <br /> para noivas de todos os estilos</span>
          <a href="/modelos" ><BUtton class="botao-modelos" type="submit" >Veja os modelos</BUtton></a>
    
      </div>
    </article>
    <article class="cartoes">



      <div class="conteudo-card2" >
  


          <span class="colecao">COLEÇÃO</span>
          <h2 class="titulo-card">Noiva Romântica</h2>
          <span class="card-texto2" type="submit"   >Confira as últimas novidades que
            preparamos <br /> para noivas de todos os estilos</span>
          <a href="/modelos" ><BUtton class="botao-modelos" type="submit" >Veja os modelos</BUtton></a>
        
      </div>
    </article>
    <article class="cartoes">

      <div class="conteudo-card conteudo-card3">
        <span class="colecao">COLEÇÃO</span>
        <h2 class="titulo-card">Noiva Sensual</h2>
        <span class="card-texto3">Confira as últimas novidades que
          preparamos <br /> para noivas de todos os estilos</span>

          <a href="/modelos" ><BUtton class="botao-modelos" type="submit" >Veja os modelos</BUtton></a>
      </div>
    </article>
  </section>
  <%- include('partials/footer') %>

</body>

</html>