<!-- extends layout

block content
  h1= title
  p Welcome to #{title} -->
  <%- include('./header_footer/head') %>
  <%- include('./header_footer/header') %>

  <body>
      <main>
       
      </main>
      <%- include('./header_footer/footer') %>
  </body>
  
  </html>