<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/modelos.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'>
    <link href="//db.onlinewebfonts.com/c/cfdf18a10f253f0aa9db6db978d328c0?family=SignPainter+HouseScript"
        rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>

    <%- include('/partials/head') %>
    <%- include('/partials/header') %>
  

    <main>
        <h1 class="logo-main"> Cabide das noivas</h1>

        <div class="menu-navegacao">
            <ul class="navegador">
                <li>Home</li>
                <li>Estilos</li>
                <li>Tamanhos</li>
                <li>Novidades</li>
                <li>Carrinhos</li>
            </ul>
            <div class="container-imagens">

                <div class="img1-2">
                    <img src="/assets/img/noiva1.png" alt="noiva1">
                    <img src="/assets/img/noivas2.png" alt="noiva2" class="noiva2">
                    <div class="div-botoes1">
                        <button class="botao-comprar">Comprar</button>
                        <button class="botao-comprar">Comprar</button>
                    </div>
                </div>
                <div class="img 2-3">
                    <img src="/assets/img/noiva3.png" alt="noiva3">
                    <img src="/assets/img/noiva4.png" alt="noiva4">
                    <div class="div-botoes1">
                    <button class="botao-comprar">Comprar</button>
                    <button class="botao-comprar">Comprar</button>
                </div>
            </div>
        </div>
        </div>
    </main>

<%- include('partials/footer') %>

</body>

</html>