<!DOCTYPE html>
<html>
<%- include('partials/head') %>

    <body>


        <%- include('partials/header') %>


            <main>
                <h1 class="logo-main"> Apaixone-se</h1>

                <!-- <div class="menu-navegacao">
                    <ul class="navegador">
                        <li>Home</li>
                        <li>Estilos</li>
                        <li>Tamanhos</li>
                        <li>Novidades</li>
                        <li>Carrinhos</li>
                    </ul> -->
                <div class="container-imagens">

                    <div class="img1-2">
                        <img src="/images/img-noiva-cor-de-pele.jpeg" alt="noiva1">
                        <img src="/images/img-noiva-oriental.jpeg" alt="noiva2" class="noiva2">
                        <img src="/images/img-noiva-cor-de-pele.jpeg" alt="noiva1">
                        <img src="/images/img-noiva-cor-de-pele.jpeg" alt="noiva1">
                        <img src="/images/img-noiva-cor-de-pele.jpeg" alt="noiva1">
                    </div>



                </div>
                </div>
            </main>

            <%- include('partials/footer') %>

    </body>

</html>