<div class="col">
    <p class="texto-colecoes">Aqui você encontra um pouco do nosso dia a dia e de nossas coleções publicadas em nossas redes sociais.

    </p>
</div>
</div>

<div class="row">
    <div class="col">
        <p class="texto-colecoes">Todos os vestidos postados são criados e confeccionados por nossa equipe.

        </p>


    </div>