* {
    padding: 0;
    margin: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: white;
}

@import url(//db.onlinewebfonts.com/c/900420b3389e695ce84f5cf081b110d1?family=SignPainter);
@font-face {
    font-family: "SignPainter";
    src: url("//db.onlinewebfonts.com/t/900420b3389e695ce84f5cf081b110d1.eot");
    src: url("//db.onlinewebfonts.com/t/900420b3389e695ce84f5cf081b110d1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/900420b3389e695ce84f5cf081b110d1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/900420b3389e695ce84f5cf081b110d1.woff") format("woff"), url("//db.onlinewebfonts.com/t/900420b3389e695ce84f5cf081b110d1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/900420b3389e695ce84f5cf081b110d1.svg#SignPainter") format("svg");
}

.logo-main {
    text-align: center;
    height: 180px;
    font-size: 40px;
    font-family: 'SignPainter', 'HouseScript';
    color: #78141e;
    text-transform: none;
    letter-spacing: 2px;
}

.section-modelos {
    padding: 50px 0px;
    height: 800px;
}

.imagem-modelos {
    height: 100%;
    max-width: 100%;
    padding: 15px;
}

.col-md-4 {
    padding: 15px;
}

.texto-sobre {
    color: black;
}

.texto-colecoes{
    color: black;
    justify-content: justify;
}

figure {
    border: thin #c0c0c0 solid;
    background-color: #efbdbc;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

/* img {
    max-width: 220px;
    max-height: 150px;
} */

.limite {
    position: relative;
    width: 80%;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s;
    background-color: hsla(0, 0%, 50%, .87);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.limite:hover .overlay {
    opacity: 1;
    transition: 0.5s;
}

.overlay img {
    width: 80%;
    margin: 0 10%;
}