                    * {
                        padding: 0;
                        margin: 0;
                        outline: 0;
                        text-decoration: none;
                        list-style: none;
                        box-sizing: border-box;
                        color: white;
                    }

                    @import url(//db.onlinewebfonts.com/c/900420b3389e695ce84f5cf081b110d1?family=SignPainter);
                    @font-face {
                        font-family: "SignPainter";
                        src: url("//db.onlinewebfonts.com/t/900420b3389e695ce84f5cf081b110d1.eot");
                        src: url("//db.onlinewebfonts.com/t/900420b3389e695ce84f5cf081b110d1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/900420b3389e695ce84f5cf081b110d1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/900420b3389e695ce84f5cf081b110d1.woff") format("woff"), url("//db.onlinewebfonts.com/t/900420b3389e695ce84f5cf081b110d1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/900420b3389e695ce84f5cf081b110d1.svg#SignPainter") format("svg");
                    }

                    .carousel-item img {
                        width: 100%;
                        max-width: 1903px;
                        height: 100%;
                    }

                    

                    .conteudo-card {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        background: #FFD6DA;
                        font-family: 'Oxygen';
                        color: #78141e;
                        padding: 30px;
                        padding-left: 50%;
                        height: 400px;
                        width: 100%;
                        background-image: url(/images/card1semfundo.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: 20%;
                        background-position-y: 20px;
                    }

                    .colecao {
                        color: #78141e;
                        font-size: 24px;
                    }

                    .titulo-card {
                        color: #78141e;
                        font-size: 56px;
                    }

                    .card-texto {
                        color: #746263;
                        font-size: 26px;
                    }

                    .botao-modelos {
                        width: 160px;
                        height: 40px;
                        background-color: #78141e;
                        color: #bb898e;
                        border-radius: 15px 15px;
                        size: 260px;
                    }

                    .conteudo-card2 {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        background: #f8acbc;
                        height: 400px;
                        font-family: 'Oxygen';
                        color: #78141e;
                        padding: 30px;
                        padding-left: 50%;
                        background-image: url(/images/card2.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: 20%;
                    }

                    .conteudo-card3 {
                        align-items: flex-start;
                        background: #c25765;
                        /* height: 500px; */
                        font-family: 'Oxygen';
                        color: #78141e;
                        padding: 30px;
                        padding-left: 50%;
                        background-image: url(/images/card3.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: 20%;
                        background-position-y: 10px;
                    }

                    .card-texto2 {
                        color: #775159;
                        font-size: 26px;
                    }

                    .card-texto3 {
                        color: #4f383a;
                        font-size: 26px;
                    }

                    /* replicar container em todos cards para estilizar */

                    .cartoes {
                        height: 400px;
                        width: 100%;
                    }

                    /* Estilo da rota /contato */

                    form {
                        font-family: 'Oxygen';
                        color: #565656;
                    }

                    .section-container {
                        height: 585px;
                        /* margin-left: 15% !important; */
                        padding-left: 15px;
                        margin-right: auto;
                        margin-left: auto;
                    }

                    .textoSection {
                        padding: 40px;
                        font-size: 20px;
                        justify-content: center;
                        color: black;
                        letter-spacing: 1.5px;
                        line-height: 35px;
                        text-align: center;
                        font-weight: 300;
                    }

                    #formExemplo {
                        font-family: 'Oxygen';
                        color: #555;
                    }

                    .col {
                        height: 60px;
                        width: 585px;
                        position: relative;
                        min-height: 1px;
                        padding-right: 15px;
                        padding-left: 15px;
                    }

                    form input {
                        display: block;
                        width: 100%;
                        height: 26px;
                        padding: 6px 12px;
                        font-size: 14px;
                        letter-spacing: 2px;
                        color: #555;
                        background-color: #fff;
                    }

                    .input-email {
                        height: 40px;
                        width: 50%;
                    }

                    .input-nome-email {
                        margin-bottom: 2%;
                    }

                    #inputMensagem {
                        width: 100%;
                        height: 160px;
                        padding: 6px 12px;
                        margin-bottom: 35px;
                    }

                    .btnEnviar {
                        text-transform: uppercase;
                        font-size: 14px;
                        padding: 9px 22px;
                        align-items: center;
                        margin-left: 45%;
                        /* margin-top: 10%; */
                        background-color: #78141e !important;
                        font-family: 'Oxygen';
                        letter-spacing: 2px;
                        line-height: 1.42857143;
                        user-select: none;
                        vertical-align: middle;
                        touch-action: manipulation;
                        white-space: nowrap;
                        cursor: pointer;
                        border: 1px solid transparent;
                        border-radius: 4px;
                    }

                    .btnEnviar:hover {
                        background-color: white;
                    }

                    /* MAPA CSS */

                    .map-responsive {
                        overflow: hidden;
                        padding-bottom: 50%;
                        position: relative;
                        height: 0;
                    }

                    .map-responsive iframe {
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                    }

                    .sectionMapa {
                        height: 510px;
                        margin-bottom: 30px;
                        /* margin-left: 20%; */
                        width: 100%;
                    }

                    section ul {
                        color: #565656;
                        /* margin-left: -15%; */
                    }

                    section li {
                        color: #565656;
                        margin-top: 3%;
                    }

                    /* CSS SOBRE */

                    .main-sobre {
                        width: 100%;
                        height: 645px;
                        padding: 0px 50px;
                    }

                    .img-sobre {
                        max-width: 100%;
                        margin-top: 7%;
                    }

                    #img-sobre {
                        max-height: 280px;
                        padding: 15px;
                    }

                    #texto-sobre {
                        color: black;
                        letter-spacing: 0px;
                        font-size: 16px;
                        font-weight: 300;
                        padding-right: 0;
                        text-align: justify;
                        margin-bottom: 10%;
                    }

                    /* CSS colecoes */

                    .container-colecoes {
                        width: 100%;
                        height: 300px;
                    }

                    #hamburguer-menu{
                        display: none;
                    }

                    /* media querie */

                    @media (max-width: 960px) {
                        .pai-footer {
                            display: none;
                        }
                        .copyright {
                            display: none;
                        }
                        /* HEADER */
                        nav .navbar-brand {
                            font-size: 30px;
                            justify-content: center;
                            padding-top: 20px;
                        }
                        .login {
                            display: none
                        }
                        .input-buscar {
                            display: none;
                        }
                        .lupa {
                            display: none;
                        }
                        .lista-nav {
                            display: none;
                        }
                        .first-button {
                            display: block;
                        }
                        /* CARROSSEL */
                        button .botao-conheca {
                            display: none !important;
                        }
                        .span-carrosel {
                            font-size: 15px !important;
                            color: white;
                            margin-left: 0% !important;
                        }
                        .carousel-caption {
                            left: 5% !important;
                            margin: 0% !important;
                        }
                        /* CARD */
                        .titulo-card {
                            font-size: 40px;
                        }
                        .card-texto {
                            font-size: 15px;
                            color: black;
                        }
                        .botao-modelos {
                            display: none;
                        }
                        .conteudo-card {
                            background-image: none;
                            padding: 0 0 0 15%;
                            justify-content: center;
                            width: 100%;
                        }
                        .conteudo-card2 {
                            background-image: none;
                            padding: 0 0 0 15%;
                            justify-content: center;
                        }
                        .card-texto2 {
                            font-size: 15px;
                            color: black;
                        }
                        .conteudo-card3 {
                            background-image: none;
                            padding: 0 0 0 15%;
                            justify-content: center;
                        }
                        .card-texto3 {
                            font-size: 15px;
                            color: black;
                        }
                        /* Smartphone */
                        #img-sobre {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                        }
                        /* PAGINA ENTRE EM CONTATO */
                        .textoSection {
                            padding: 20px;
                            text-align: justify;
                        }
                        #textNome {
                            margin-bottom: 5%;
                        }
                        #inputEmail {
                            margin-bottom: 5%;
                        }
                        .form-control {
                            margin-bottom: 5%;
                        }
                        .form-group {
                            margin-bottom: 10%;
                        }
                        .btnEnviar {
                            margin-bottom: 20%;
                            margin-left: 280px;
                        }
                        .section-container {
                            margin-bottom: 25%;
                            /* display: flex;
                                                                                                                                                                                      flex-direction: column;
                                                                                                                                                                                      align-items: center; */
                        }
                        .sectionMapa {
                            height: 500px;
                        }
                        /* TELA COLECOES */
                        #container-section {
                            display: flex;
                            flex-direction: column;
                            /* align-items: center; */
                        }
                        .texto-colecoes {
                            color: black;
                            letter-spacing: 0px;
                            font-size: 16px;
                            font-weight: 300;
                            padding-right: 0;
                            text-align: justify;
                            padding-bottom: 20%;
                            line-height: 1.5;
                        }
                        #texto-colecao2 {
                            text-align: left;
                        }
                        .col-md-6 {
                            margin-bottom: 10%;
                        }
                        #container-colecoes {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                        .section-modelos {
                            height: 900px;
                        }
                        #imagens-colecoes {
                            align-items: center;
                            display: flex;
                            justify-content: center;
                        }
                        /* FOOTER */
                        #container-footer {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        #copyright {
                            align-items: center;
                            justify-content: center;
                        }
                        #container-footer {
                            width: 1000px;
                        }
                        #carrosel-3 {
                            color: #57514f;
                        }

                        #hamburguer-menu{
                            display: inline;
                        }

                        #container-mapa{padding-top:7%}
                        @media screen and (max-width: 640px) {
                            /* Entre em contato */
                            #carrosel-3 {
                                color: #57514f;
                            }
                            #container-footer {
                                height: 400px;
                            }
                            .sectionMapa {
                                margin-top: 300px;
                            }
                            /* COLEÇÕES */
                            .section-modelos {
                                height: 1700px;
                            }
                            #container-colecoes {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                            }
                            #imagens-colecoes {
                                align-items: center;
                                display: flex;
                                justify-content: center;
                            }

                            #container-mapa{padding-top:7%}


                            /* footer */
                            footer .main-footer {
                                padding: 180px 0px 0 0px;
                            }
                            #container-footer {
                                height: 200px;
                            }
                            .btnEnviar{
                                margin-left: 200px;
                            }
                            #hamburguer-menu{
                                display: inline;
                            }
                        }
                    }