<header>
    <div class="logo-input">
      <h2 class="logo">Cabide das noivas</h2>
      <form action="" class="container-pesquisa">
        <div class="input-grupo">
          <input type="text" class="input-buscar" placeholder="Busque aqui seu produto">
          <span class="input-grupo-span">
            <button class="lupa" type="button"><img src="./images/lupa.png" alt="lupa"></button>
          </span>
          </input>
        </div>
      </form>
      <nav>
        <ul class="lista-nav">
          <li>COLEÇÕES</li>
          <li>ACESSÓRIOS</li>
          <li class="sobre">SOBRE</li>
          <img src="./images/carrinho.png" alt="carrinho de compras" class="carrinho">
        </ul>
        <div class="login">
          <img src="./images/avatar.png" alt="avatar" class="avatar">
          <div class="navegador-header">
            <p class="login-texto">
              <span>Olá, faça seu login </span> </br>
              <span>ou cadastre-se </span>
            </p>
          </div>
        </div>
      </nav>
    </div>
  </header>